<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>

  <div  id = "app-2" > 
    <span v-bind:title = "message" >     
      鼠標懸停幾秒鐘查看此處動態綁定的提示信息！
    </span > 
  </div >

  <div  id = "app-3" > 
    <p v-if = "seen" >
      現在你看到我了
    </p> 
  </div>

  <div id="app-5">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id="app-6">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
  </div>

  <div id="app-7">
    <div>${ price | commaFormat | priceFormat }</div>
  </div>

  <div id="app-8">
    <!-- 將 message 呈現於UI -->
    <p>{{ msg }}</p>
    
    <hr>
    
    <!-- 取得使用者當前輸入，更新 userInput -->
    <!-- 當 userInput 更新，也會同步輸入框數值 -->
    <input  type="text" v-model="userInput" />
    
  </div>

  <input id="app9" type="button" v-model='message' v-bind:disabled="isButtonDisabled">

  <div id="app10">
    <p>{{message}}</p>
    <input type="text" v-model="message" v-on:change='textChange'>
  </div>

  <div id="app11">
    <div>{{ msg | prompt('a','b') }}</div>
    <!-- <div>${ price | priceFormat }</div> -->
    <div>{{msg}}</div>
  </div>

  <script>

  
  Vue.filter('prompt', function (value, arg1, arg2) {
    return value + ' ' + arg1 + ', ' + arg2
  })

    var app11 = new Vue({
       el: '#app11',
       // delimiters: ['${', '}'],
       data: {
           msg: 'hello v-modle!',
           price: "12345"
       },
       filters: {
          priceFormat: function(value) { // 加上 $ 字號
            return '$' + value
          },
          prompt: function(value, arg1, arg2) {
            return arg1 + ', ' + arg2
          }
        },
   })

   var app10 = new Vue({
       el: '#app10',
       data: {
           message: 'hello v-modle!'
       },
       methods: {
           textChange: function() {
               console.log(this.message);
           }
       }
   })

    var app9 = new Vue({
      el: '#app9',
      data: {
          message: 'v-bind繫結標籤特性',
          isButtonDisabled: false
      }
    })


    var app8 = new Vue({
      el: '#app-8',
      data: {
        msg: 'Vue rock!',
        userInput: ''
      }
    });

    var app7 = new Vue({
      el: '#app-7',
      delimiters: ['${', '}'],
      data: {
        price: ""
      },
      filters: {
        priceFormat: function(value) { // 加上 $ 字號
          return '$' + value
        },
        commaFormat: function(value) { // 加上千分位符號
          return value.toString().replace(/^(-?\d+?)((?:\d{3})+)(?=\.\d+$|$)/, function (all, pre, groupOf3Digital) {
            return pre + groupOf3Digital.replace(/\d{3}/g, ',$&');
          })
        }
      }
    });

    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: '逆转消息!'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })

    var app5 = new Vue({
      el: '#app-5',
      data: {
        todos: [
          { text: '学习 JavaScript' },
          { text: '学习 Vue' },
          { text: '整个牛项目' }
        ]
      }
    })
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })

    var app2 = new Vue({ 
      el: '#app-2' , 
      data: { 
        message: '頁面加載於' + new  Date ().toLocaleString() 
      } 
    })

    var app3 = new Vue({ 
      el: '#app-3' , 
      data: { 
        seen: true
       } 
    })


  </script>
</body>
</html>